.Dice{
  align-self: center;
  padding: 10px;
  width: 40px;
  margin: 5px;
  background: red;
  border: #999 1px solid;
  font-size: 24px;
  text-align: center;
}
#rules{
  padding: 50px;
  background-color: #84C290;
  align-content: center;
}
.row{
  margin-left: 90px;


}
#playingArea{
  background-color: yellow;
  margin-top: -30px;
}
body{
  background-color: blue;
}
